html.dark {
  --text-colour: white;
  --background-colour: rgb(33 39 55);
}

html {
  --text-colour: black;
  --background-colour: white;

  color: var(--text-colour);
  background-color: var(--background-colour);
}
